* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.container {
    width: 80%;
    margin: 0 auto;
    background-color: whitesmoke;
    height: 100%;
    padding-bottom: 50px;
    background-color: #BFD6AD   ;
}
.navbar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #D68F3E;
}

.navbar ul {
    display: flex;
}
.navbar ul li {
    list-style: none;
    margin-left: 20px;
    padding: 12px;
    border-radius: 15px;
    
    border: 3px solid black;
}
.home {
    background-color:#BFD6AD;
}
.a {
    background-color: white;
}
.navbar ul li:hover{
    cursor: pointer;
    background-color: black;
}

.navbar ul li:hover a {
    color: whitesmoke;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
}










.double {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}

.contackt {
    padding: 15px;
    align-items: center;
    width: 70%;
    text-align:justify;
    border: 2px solid greenyellow;
    background-color: #6EED00;
}

.contackt h1{
    margin: 5px;
    text-align: center;
    font-family: sans-serif;
}
.contackt h3 {
    text-decoration: underline;
    padding: 5px;
    
}
.contackt a{
    text-decoration: none;
    color: black;
}
.service {
    width: 30%;
    margin: 00 15px;
    padding: 10px;
    background-color: #ED6802;
}
.service h3 {
    margin: 5px;
}